<div class="wrapper tweet_wrapper">

  <div class="tweet">
      <div class="per <%= 'mine' if @tweet.user.id == current_user.id %>">
        <p class="icon">
            <%= image_tag @tweet.user.image.url %>
        </p>
        <p class="content">
          <%= @tweet.user.name %>
          <%= link_to tweet_path(@tweet.id) do %><%= @tweet.created_at %><% end %>
          <br>
          <% if mypost?(@tweet) %>
            <%= link_to edit_tweet_path(@tweet.id) do %>
              <%= @tweet.content %>
            <% end %>
           <% else %>
            <%= @tweet.content %>
          <% end %>
        </p>
      </div>
  </div> 

</div>